body {
	background-image: url("/project-work/images/Sfondo-login.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #000000;
	font-family: Arial, sans-serif;
}

h2 {
	font-family: "Kaushan Script", serif;
	font-weight: 300;
	font-style: normal;
	font-size: 40px;
}

.settings-section {
	margin-bottom: 30px;
	padding: 20px;
	background-color: #ffffff9e;
	border-radius: 10px;
}

.settings-section h3 {
	font-size: 1.5rem;
	margin-bottom: 15px;
}

.settings-item {
	margin-bottom: 10px;
}


.settings-item a:hover {
	text-decoration: underline;
}

footer a {
	color: #000;
	text-decoration: none;
	margin: 0 10px;
}

footer a:hover {
	text-decoration: underline;
}

.impostazioni {
	padding-top: 5rem;
	padding-bottom: 2rem;
}

.btn-custom {
	width: 220px;
	padding: 10px;
	border-radius: 5px;
}

.btn-metodo-pagamento {
	background-color: #ff6600;
	border: none;
	color: white;
}

.btn-danger {
	background-color: #dd3333;
	border: none;
	color: white;
}

/* .btn-link {
    color: #5c5555 !important;
} */

h5 {
	color: #5c5555;
}

.new-patente {
	color: #5c5555 !important;
	font-size: 1.2rem;
}

.carta-di-credito {
	color: #5c5555 !important;
	font-size: 1.1rem;
}

.btn-primary {
	background-color: #ff6600;
	border: none;
	color: white !important;
	font-size: 1rem !important;
}

.btn-primary:hover {
	color: black !important;
	background-color: transparent;
	text-decoration: none !important;
}


#licenseFile {
	display: none;
  }

  .btn-file {
	background-color: #007BFF; /* Colore blu */
	color: #fff; /* Testo bianco */
	padding: 5px 15px; /* Spaziatura interna */
	font-weight: 500; /* Peso del font */
	text-align: center; /* Centra il testo */
	border: none; /* Nessun bordo */
	border-radius: 5px; /* Angoli arrotondati */
	transition: background-color 0.3s ease; /* Effetto al passaggio del mouse */
  }
  
  .btn-file:hover {
	background-color: #0056b3; /* Cambia colore al passaggio del mouse */
  }

  .file-name {
	display: inline-block;
	margin-left: 10px;
	margin-top: 8px; /* Sposta solo la scritta verso il basso */
	font-size: 14px;
	color: #555;
	vertical-align: middle; /* Allinea la scritta con il bottone */
  }