* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100%;
	background-color: white !important;
}

body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	height: 100%;
}

/* -------------------------------------------------------------------------- */
/*                                 Typography                                 */
/* -------------------------------------------------------------------------- */
h2 {
	font-size: 2rem;
}

.kaushan-script-regular {
	font-family: "Kaushan Script", serif;
	font-weight: 400;
	font-style: normal;
}

.great-vibes-regular {
	font-family: "Great Vibes", serif;
	font-weight: 400;
	font-style: normal;
}

/* -------------------------------------------------------------------------- */
/*                                   Navbar                                   */
/* -------------------------------------------------------------------------- */
/* Navbar Section - Start */
.navbar {
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(5px);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding: 0 0;
}

.navbar a {
	color: #222831 !important;
}

.logo-titolo {
	display: flex;
}

.logo-titolo h1 {
	padding-top: 1.5rem;
	font-size: 1.7rem;
	color: #222831;
}

.logo img {
	height: 60px !important;
}
/* Navbar Section - End */

/* -------------------------------------------------------------------------- */
/*                                Hero Section                                */
/* -------------------------------------------------------------------------- */
/* Hero Section - Start */
.hero {
	background: url("../images/hero.jpg") center center/cover no-repeat;
	height: 100vh;
	color: white;
	text-align: center;
	align-items: center;
}

.hero h1 {
	font-size: 5rem;
	text-shadow: 1px 1px 2px black;
}

.hero p {
	font-size: 2rem;
	margin-bottom: 20px;
	text-shadow: 1px 1px 2px black;
}
/* Hero Section - End */

/* -------------------------------------------------------------------------- */
/*                               Swiper Section                               */
/* -------------------------------------------------------------------------- */
/* Swiper Section - Start */
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.autoplay-progress {
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 10;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: var(--swiper-theme-color);
}

.autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 50%;
	height: 50%;
	stroke-width: 4px;
	stroke: var(--swiper-theme-color);
	fill: none;
	stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
	transition: stroke-dashoffset 10s linear !important;
}
/* Swiper Section - End */

.carosello {
	padding: 100px 100px;
}

.carosello {
	padding: 5% 5%;
	width: 50%;
}
/* Carousel Section - End */

/* -------------------------------------------------------------------------- */
/*                                Card Section                                */
/* -------------------------------------------------------------------------- */
/* Card Section - Start */
.info-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card img {
	height: 300px;
	width: 300px;
	border-radius: 0;
	padding: 20px 40px !important;
}

.card {
	border-radius: 0 !important;
	border: none;
}
/* Card Section - End */

/* -------------------------------------------------------------------------- */
/*                               Footer Section                               */
/* -------------------------------------------------------------------------- */
/* Footer Section - Start */
.footer-container {
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 20px;
	background-color: rgba(135, 191, 234, 0.3);
	margin-top: 8rem;
}

.social-icons {
	display: flex;
	font-size: 1.2rem;
	gap: 0.5rem;
}
/* Footer Section - End */

/* -------------------------------------------------------------------------- */
/*                         Background Effects Section                         */
/* -------------------------------------------------------------------------- */
/* Background Effects Section - Start */
.sfondo-car {
	background: url("../images/sfondo-car.jpg") center center/cover no-repeat;
	height: 65vh;
	color: white;
	text-align: center;
	align-items: center;
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 90%);
	background-attachment: fixed;
}

.sfondo-scooter {
	background: url("../images/sfondo-motorino.webp") center center/cover no-repeat;
	height: 65vh;
	color: white;
	text-align: center;
	align-items: center;
	clip-path: polygon(0 0, 100% 20%, 100% 90%, 0 100%);
	background-attachment: fixed;
}

.sfondo-monopattino {
	background: url("../images/sfondo-monopattino.webp") center center/cover no-repeat;
	height: 65vh;
	color: white;
	text-align: center;
	align-items: center;
	clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 90%);
	background-attachment: fixed;
}
/* Background Effects Section - End */

/* -------------------------------------------------------------------------- */
/*                                Button Styles                               */
/* -------------------------------------------------------------------------- */
/* Button Section - Start */
.button {
	display: inline-block;
	padding: 10px 20px;
	font-size: 14px;
	color: rgb(0, 0, 0);
	background-color: rgb(230, 230, 230);
	text-decoration: none;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: rgb(200, 200, 200);
}
/* Button Section - End */
